<%= @player_1 %> vs. <%= @player_2 %>
<span><%= @player_1 %>: <%= @player_1_points %> points</span>
<span><%= @player_2 %>: <%= @player_2_points %> points</span>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
